---
layout: page
title: Project Portfolio
---
<div class="span16">

  <ul id="projects" class="list-no-style">
    {% for project in page.projects %}
      <li class="project span5">
        <a href="/portfolio/{{ project[0] }}">
          <h4>{{ project[1].short }}</h4>

          {% if project[1].image %}
            <div class="image-wrapper-portfolio"><img src="{{ project[1].image.url }}" title="{{ project[1].image.title }}" alt="{{ project[1].image.alt }}" /></div>
          {% endif %}
          
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
